.container-teams{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.img{
    max-width: 15%;
    max-height: 95px;
    padding-bottom: 2%;
}

.item-team{
    padding: 15px;
    width: 50%;
}